@model UserOptionsViewModel

<h2 class="m-3"><i>@Model.UserName</i></h2>
<h5 class="m-3"><i>@Model.UserId</i></h5>

@{
    <div>
        <div class="bd-example-snippet bd-code-snippet">
            <div class="container m-5">
                <form asp-action="UpdateChoosenLogbooks" method="post">
                    <h5>Logbooks</h5>
                    @Html.HiddenFor(m=>m.UserName)
                    @Html.HiddenFor(m=>m.UserId)
                    @Html.EditorFor(a=>a.LogbookSelections)
                    <div class="mt-5">
                        <button type="submit" class="btn btn-primary">Update Logbook list</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}