@model MedikoData.Entities.LogBook

@{
    ViewData["Title"] = "Details";
}

<h3>
    @*<a asp-action="Edit" asp-route-id="@Model?.LogBookId">Edit</a> |*@
    <a class="btn btn-sm btn-secondary mb-1 me-2" asp-action="Options" asp-controller="User">
        <i class="bi bi-arrow-left-square icon"></i>Terug
    </a>
    Details
</h3>

<div>
    <h4>Logboek</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Field1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Field1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Field2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Field2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Field3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Field3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precision)
        </dt>@*
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Precision)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.IconUrl)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.IconUrl)
        </dd>*@
    </dl>
</div>

