@model IEnumerable<MedikoData.Entities.LogBook>

@{
    ViewData["Title"] = "LogBooks";
}

<h3>Logbooks manager</h3>

<p>
    <a asp-action="Create">Maak een nieuw Logboek</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit3)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Precision)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.IconUrl)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Field1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit1)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Field2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit2)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Field3)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Unit3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precision)
                </td>
@*                <td>
                    @Html.DisplayFor(modelItem => item.IconUrl)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LogBookId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LogBookId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LogBookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
